<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <%- include("./partials/header.ejs") %>

    <div class="container">
        <div class="form">
            <h1>Create A New Post</h1>
                <form action="/compose" method="POST" class="forminput">
                    <input type="text" name="title" placeholder="Title" class="title_input" required>
                    <textarea name="content" id="postcontent" placeholder="Blog post Content" required></textarea>
                    <input type="text" name="author" class="author-input" placeholder="Author">
                    <div class="submit-container">
                        <input type="submit" id="submit" value="Create Post!">
                    </div>
                </form>
        </div>
        <div class="PostSection">
            <h2>Your Posts</h2>
            <ul class="post-list">
                <% blogPosts.forEach(post=> { %>
                    <li>
                        <a href="/post/<%= post.id %>">
                            <%= post.title %>
                        </a>
                    </li>
                <%})%>
            </ul>
        </div>

    </div>

</body>
</html>