.container {
    display: grid;
    height: 100%;
    width: auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
}

.post {
    grid-area: 2/2/3/2;
    text-align: center;
    margin-top: 15%;
}

.post h2{
    font-size: 5vh;
    margin-bottom: 10%;
}

.post p{
    font-size: large;
    margin-bottom: 10%;
}

.post author{
    font-size: large;
    margin-bottom: 10%;
}

.post a{
    font-size: large;
    margin-bottom: 10%;
    text-decoration: none;
    color: black;
}

.post a:hover{
    color: skyblue;
}

@media screen and (max-width: 600px) {
    .post h2{
        margin-top: 20%;
        font-size: 3vh;
        margin-bottom: 15%;
    }

    .post p{
        font-size: medium;
        margin-bottom: 15%;
    }

    .post{
        width : 100%;
    }
    .container{
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto auto auto;
    }
}

@media screen and (min-width: 601px) and (max-width: 950px) {
    .post h2{
        margin-top: 20%;
        font-size: 3vh;
        margin-bottom: 15%;
    }

    .post p{
        font-size: larger;
        margin-bottom: 15%;
    }

    .post{
        width : 100%;
    }
    .container{
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto auto auto;
    }
    
}